.dropdown {
  min-width: 75px;
  height: 35px;
  border-radius: 7px;
  font-size: 16px;
  padding-left: 5px;
  border: 0.1em solid #b9b9b9;
  background: #ffffff url("../assets/dropdownarrow.svg") calc(100% - 7px) / 15%
    no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown:focus {
  border: 0.1em solid #f7981f;
}
