.rstr-container {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  width: 95%;
  height: 180px;
  background-color: #eeeeee;
}

.rstr-image {
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
}

.rstr-name {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.total-score {
  font-size: 18px;
  display: flex;
  align-items: end;
}

.rstr-middle {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.rstr-right {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.main-goto {
  font-size: 18px;
  display: flex;
  justify-content: end;
}

.right-arrow {
  margin-left: 5px;
  width: 7px;
  height: auto;
}
