.rvform-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rvform-title {
  width: fit-content;
  align-items: start;
  /* padding-bottom: 20px; */
  margin-left: 30px;
  font-size: 22px;
  font-weight: bold;
}

.rvform-ment {
  width: fit-content;
  margin-left: 30px;
  font-size: 16px;
  color: #959595;
}

.rating-container {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}

.ratings-container {
  width: 70%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rvform-input {
  width: 90%;
  height: 280px;
  background: #eeeeee;
  border: 0;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 15px;
}

.rvform-input:focus {
  outline-color: #f7981f;
}
