body {
  font-family: "Noto Sans KR", sans-serif;
  /* transform: rotate(0.04deg); */
}

@import "./reset.css";

.header-padding {
  padding-top: 60px;
}

.orange-bigbutton {
  width: 250px;
  height: 50px;
  background-color: #f7981f;
  border-radius: 7px;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-button {
  width: 120px;
  height: 40px;
  background-color: #f7981f;
  border-radius: 7px;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-button {
  width: 120px;
  height: 40px;
  background-color: #f71f1f;
  border-radius: 7px;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags {
  width: auto;
  background-color: #442a77;
  padding: 7px 15px;
  color: #ffffff;
  border-radius: 20px;
  font-size: 16px;
}

.tags-add {
  width: 40px;
  background-color: #d9d9d9;
  padding: 7px 15px;
  color: #9b9b9b;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
}

.white-box {
  width: 70%;
  height: 600px;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 30px 0;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  margin: 0;
  padding: 0;
}

.radio-button {
  width: 1.35em;
  height: 1.35em;
  min-width: 1.35em;
  min-height: 1.35em;
  background-color: #9b9b9b;
  border-radius: 50%;
}
